.switchingTabs .tabItems .tabItem {
    @apply h-full flex items-center justify-center w-[100px] text-[var(--black)] text-[14px] relative z-[1] cursor-pointer;
    transition: color ease 0.3s;
}
.switchingTabs .tabItems .tabItem.active {
    color: white;
}
.switchingTabs .tabItems .movingBg {
    @apply h-[30px] w-[100px] rounded-[15px] bg-[image:var(--gradient)] absolute;
    transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
}